@model EmployeesApp.Web.Models.Employee[]
<!DOCTYPE html>
    <html>
    <head>
         <title>Employees - APP</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
    </head>
    <body>
    <h1>Our Employees</h1>
    <ul>
    

      @foreach (var empl in Model)
    {
        <li>@empl.Name</li>
    }
    </ul>

 <p>Click on the button to add a new employee! </p>
    <button>Add employee</button>

    </body>
    </html>