@model EmployeesApp.Web.Models.Employee[]
<!DOCTYPE html>
    <html>
    <head>
         <title>Employees - APP</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
    </head>
    <body>
    

    <h1>Our employees</h1>
    <ul>
    

      @foreach (var empl in Model)
    {
        <li>@empl.Name</li>
    }
    </ul>

 <p>Click on the button to add a new employee! </p>
 <a href="/Create" role="button" class="createbtn">Add</a> @*Ska använda för style senare *@

    


    </body>
    </html>